---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const { align = "center" } = Astro.props;
// Filter team entries with &#39;draft: false&#39; & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc">Meet the Anavue Team</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 style="display:flex; justify-content:center" class="font-bold text-3xl text-gray-800">
        Empowering the world with retail business intelligence.
      </h2>
    </div>
    
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                loading = "eager"
                
              />
            </div>

            <div class="mt-4 text-center">
              <h2 style="font-weight: 600" class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      } 
    </div>
    
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      <div class="group">
        <div class="mt-4 text-center">
          <p class="text-slate-500">
            From his experience in building and maintaining partnerships, Bruno brings a deep understanding of business dynamics which enables him to build long-term partnerships successfully.
          </p>
        </div>
      </div>
      <div class="group">
        <div class="mt-4 text-center">
          <p class="text-slate-500">
            From his experience in software-development, George brings a deep understanding of technology which enables him to build sophisticated solutions to real-world problems.
          </p>
        </div>
      </div>
      <div class="group">
        <div class="mt-4 text-center">
          <p class="text-slate-500">
            From his experience growing up as a part of a family-owned retail jewellery brand, Henry brings a deep understanding of retail challenges which enables him to guide product development.
          </p>
        </div>
      </div>
    </div>
    
    
  </Container>
</Layout>
