---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import FreeTrialBanner from "@components/FreeTrialBanner.astro";

const pricing = [
  {
    name: "Small",
    price: { weekly: "$8.99/week", monthly: "$31.96", annual: "$360.00" },
    popular: false,
    features: [
      "Our state-of-the-art vision software",
      "POS integration",
      "24/7 human support",
      "Customizable reports",
      "No credit card required",
      "Real time streaming analytics",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Medium",
    price: { weekly: "$14.99/week", monthly: "$58.99", annual: "$700.00" },
    popular: false,
    features: [
      "Everything in Small",
      "3 month surveillance footage cloud storage",
      "Security alerts with 24/7 tracking",
      "Customizable dashboard",
      "First access to new features every month",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Large",
    price: "Custom",
    popular: false,
    features: [
      "Everything in Medium",
      "Unlimited surveillance footage cloud storage",
      "Mobile app",
      "Actionable deep-learning reports",
      "Global data comparisons",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>
    <div style="min-height: 300px">
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </div>
    <FreeTrialBanner />
  </Container>
</Layout>
