<div class="py-16 bg-white" style="margin-top: 165px;">
    <div class="container mx-auto px-12 space-y-8 md:px-12 lg:px-56">
        <div class="mx-auto text-center lg:w-7/12">
            <h2 class="text-2xl text-gray-700 font-bold md:text-4xl">Your favorite companies are our partners.</h2>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8">
            <div class="p-1 flex items-center justify-center">
                <img src="/sherbzilla.png" class="max-h-2000 md:max-h-2000 object-contain" alt="Sherbzilla">
            </div>
            <div class="p-4 flex items-center justify-center">
                <img src="/3rdcoastgenetics logo.png" class="max-h-40 object-contain" alt="3rd Coast Genetics">
            </div>
            <div class="p-4 flex items-center justify-center bg-black">
                <img src="/Happy-Dreams-Genetics.png" class="max-h-40 object-contain" alt="Happy Dreams Genetics">
            </div>

            <div class="p-4 flex items-center justify-center">
                <img src="/councilcollective.png" class="max-h-40 object-contain" alt="Council Collective">
            </div>

        </div>
    </div>
</div>
