---
import Link from "./ui/link.astro";
---
<!-- <div style="padding: 75px;"></div>

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center" style="margin-top: 0px;">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Get Started Today
  </h2>
  <div class="flex mt-5">
    <Link href="/contact" style="inverted">Book a call</Link>
  </div>
</div> -->
