---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";

---

<div>
    <div>
    <h2 style ="display:grid; justify-items:center; margin-top: 5%"> Our Deep-Learning In-Depth </h2>
  </div>
  <!-- <div class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"> -->
    <Picture 
    src= 'https://th.bing.com/th/id/R.caa702e9433b623dc17e029e300acdbe?rik=eKcWKTEq7OOuHA&riu=http%3a%2f%2fwww.digitalrhetoriccollaborative.org%2fwp-content%2fuploads%2f2018%2f04%2fdeep-learning-image.jpg&ehk=EbdtnlBMJLeoHGuotK3iSnh90JsY1T%2bbTZvgLXYlgcw%3d&risl=&pid=ImgRaw&r=0'
    alt="Astronaut in the air"
    height=424
    loading="Lazy"
    width = 520
    />
  <!-- </div> -->
  <div>
    <main style="display: grid; justify-content: center; margin-top: 5%" > What can you expect from our Deep-Learning model? </main>
    <div id="integs">
      <div class="integration">
        <h3>Recomending Upsells</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="integration">
        <h3>Reducing Dead Inventory</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="integration">
        <h3>Get Ad Targeting Advice</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="integration">
        <h3>Base Your Strategies On Your future</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="integration">
        <h3>Increace Average Purchase value</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="integration">
        <h3>Increace Loyalty By Reaching Out When It Matters most</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  </div>
  
  <style>
  picture {
    display: grid;
    justify-content: center;
  }
  
  h2 {
    font-size: 200%;
    font-weight: semibold;
  }
  
  main {
    font-size: 150%;
    font-weight: normal;
  }
  
  #integs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 5%;
    
  }
  
  .integration {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5% 10%;
    border-radius: 10px;
  }
  
  h3 {
    margin: 0;
    font-size: 125%;
    font-weight: bold;
  }
  </style>
  