---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Fully assisted onboarding",
    description:
      "Our team of experts makes it easy for you to get started with us. We'll help you get up and running in no time.",
    icon: "simple-icons:homeassistant",
  },
  {
    title: "Unparrelled security",
    description:
      "By using authentication factors such as OAuth2, you can rest assured that your data is secure.",
    icon: "bx:shield-x",
  },
  {
    title: "Extrinsic Building",
    description:
      "Our software was built by talking to retail professionals like you. All of our features are designed to solve real-problems.",
    icon: "uil:keyhole-square-full",
  },
  {
    title: "Fully-customizable",
    description:
      "We understand that everyone's needs are different. That's why all of our plans can be tailored to your needs.",
    icon:"bx:water",
  },
  {
    title: "24/7 support",
    description:
      "Our human customer service is always available to help you with any questions or concerns you may have.",
    icon: "simple-icons:clockify",
  },
  {
    title: "Intrinsic Building",
    description:
      "Our software was built to provide a comprehensive retail management solution unlike any other.",
    icon: "uil:keyhole-circle",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    21<span class="small-caps">st</span> century software for 21<span class="small-caps">st</span> century businesses
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Anavue comes batteries included. We took the best parts of the state-of-the-art
    tools and added our own innovations. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<style>
  .small-caps {
    font-variant-caps: all-petite-caps;
  }
</style>