---
import { Icon } from "astro-icon/components";

const features2 = [
    {
        title: "Personalized Recommendations",
        description:
            "Tailor product suggestions for each customer based on their purchase history and browsing behavior.",
        icon: "bx:bxs-happy",
    },
    {
        title: "Inventory Optimization",
        description:
            "Predict stock requirements accurately to reduce overstock and stockouts, ensuring optimal inventory levels.",
        icon: "bx:bxs-box",
    },
    {
        title: "Customer Segmentation",
        description:
            "Identify and group customers based on their shopping habits to create targeted marketing campaigns.",
        icon: "bx:bxs-group",
    },
    {
        title: "Sales Forecasting",
        description:
            "Utilize historical sales data to forecast future sales trends and adjust strategies accordingly.",
        icon: "bx:bxs-chart",
    },
    {
        title: "Market Basket Analysis",
        description:
            "Understand which products are frequently bought together to enhance cross-selling and upselling opportunities.",
        icon: "bx:bxs-cart-add",
    },
    {
        title: "Customer Churn Prediction",
        description:
            "Identify at-risk customers and implement strategies to retain them, reducing churn rates and increasing loyalty.",
        icon: "bx:bxs-user-x",
    }
];
---

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features2.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
<style>
  h3 {
    margin: 0;
    font-size: 125%;
    font-weight: bold;
  }
  </style>
