---
import { Icon } from "astro-icon/components";
const features = [
    {
        title: "Enhance Customer Experience",
        description:
            "Increase customer satisfaction by understanding their behavior and preferences, leading to a more personalized shopping experience.",
        icon: "bx:bxs-happy",
    },
    {
        title: "Optimize Store Layout",
        description:
            "Improve product placement and store design by analyzing foot traffic patterns, ensuring high-demand items are easily accessible.",
        icon: "bx:bxs-location-plus",
    },
    {
        title: "Reduce Shrinkage",
        description:
            "Enhance security measures and reduce theft with real-time monitoring and alert systems, protecting your inventory and bottom line.",
        icon: "bx:target-lock",
    },
    {
        title: "Improve Staffing Efficiency",
        description:
            "Align staff schedules with peak shopping times through precise customer flow analysis, ensuring optimal customer service and reducing labor costs.",
        icon: "bx:shopping-bag",
    },
    {
        title: "Maximize Marketing Effectiveness",
        description:
            "Assess the impact of in-store promotions and advertisements by tracking customer engagement, helping you refine your marketing strategies.",
        icon: "bx:bxs-bullseye",
    },
    {
        title: "Boost Sales Conversion Rates",
        description:
            "Identify bottlenecks and high-traffic areas to streamline the customer journey, increasing the likelihood of purchase and boosting overall sales.",
        icon: "bx:line-chart",
    }
];

---

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>   
      <style>
      h3 {
        margin: 0;
        font-size: 125%;
        font-weight: bold;
      }
      </style>
      