---
  import { Picture } from "astro:assets";
  import myimage from "src/assets/mainheroformat.png";
  import Link from "@components/ui/link.astro";
  import { Icon } from "astro-icon/components";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture 
    src= {myimage}
    alt="Video analytics prototype for Anavue"
    height=424
    loading="eager"
    width = 520
    />
   
<!-- C:/Users/augus/Documents/Anavue frontend/anavueWebsite/src/assets/mainheroformat.png
    widths={[200, 400, 600]}
    sizes="(max-width: 800px) 100vw, 620px" -->
  </div>

 
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Actionable insights from your surveillance footage
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      AnaVue can help you make the most of your surveillance footage. By combining business intelligence, POS integration and deep learning, we can superpower your retail store into the 21st century.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/all-in-one"
        target="_self"
        class="flex gap-1 items-center justify-center"
        rel="noopener">

         Find out more 
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/contact"
        class="flex gap-1 items-center justify-center"
        target="_self">
         Book a call
      </Link>
    </div>
  </div>
</main>

