---
import { Icon } from "astro-icon/components";
---
<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-12">
  <!-- Testimonial 1 -->
  <section class="relative isolate overflow-hidden bg-white px-6 py-12 sm:py-16 lg:px-6">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <figure class="mt-6">
        <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
          <p>“Calamus Nursery’s Bacio Gelato and Guava Teens are hands down the best genetics we’ve ever worked with. The plants were strong from the start. We’ve never had a run where the plants stayed so healthy and produced such amazing results. We’re now exclusively working with Calamus Nursery for all of our Teens needs.”</p>
        </blockquote>
        <figcaption class="mt-6">
          <img class="mx-auto h-10 w-10 rounded-full" src="person1.png" alt="Daniel's Photo">
          <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <div class="font-semibold text-gray-900">Daniel</div>
            <img src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%221%22%20cy%3D%221%22%20r%3D%221%22%20fill%3D%22%231F2937%22/%3E%3C/svg%3E" alt="person" class="w-1 h-1" aria-hidden="true">
            <div class="text-gray-600">Cultivator in California</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>

  <!-- Testimonial 2 -->
  <section class="relative isolate overflow-hidden bg-white px-6 py-12 sm:py-16 lg:px-6">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <figure class="mt-6">
        <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
          <p>“Hands down best prices in the area for the strains offered. Very friendly staff. Nice and healthy plants. As long as the price is right I'll keep coming back for those strains.”</p>
        </blockquote>
        <figcaption class="mt-6">
          <img class="mx-auto h-10 w-10 rounded-full" src="person2.png" alt="Tyler's Photo">
          <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <div class="font-semibold text-gray-900">Tyler</div>
            <img src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%221%22%20cy%3D%221%22%20r%3D%221%22%20fill%3D%22%231F2937%22/%3E%3C/svg%3E" alt="mugshot" class="w-1 h-1" aria-hidden="true">
            <div class="text-gray-600">Cultivator in California</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>

  <!-- Testimonial 3 -->
  <section class="relative isolate overflow-hidden bg-white px-6 py-12 sm:py-16 lg:px-6">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <figure class="mt-6">
        <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
          <p>“I’ve bought over 4,000 teen plants so far, and they’re hands down the most reliable and convenient option I’ve found. The variety they offer is extensive, almost overwhelming, but in a good way. The pricing is spot on too, which has led me to completely stop doing my own cloning. I now rely solely on them. Highly recommended!”</p>
        </blockquote>
        <figcaption class="mt-6">
          <img class="mx-auto h-10 w-10 rounded-full" src="person3.png" alt="Karim's Photo">
          <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <div class="font-semibold text-gray-900">Karim</div>
            <img src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%221%22%20cy%3D%221%22%20r%3D%221%22%20fill%3D%22%231F2937%22/%3E%3C/svg%3E" alt="person" class="w-1 h-1" aria-hidden="true">
            <div class="text-gray-600">Uncle Green, INC.</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
</div>
