<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
  <!-- Video Section (hidden on small screens) -->
  <div class="video-container mx-auto max-w-2xl sm:px-6 lg:max-w-7xl lg:px-8 my-10 hidden lg:flex lg:justify-center lg:items-center">
    <video style="border-radius: 15px;" class="w-full h-auto" autoplay muted loop playsinline>
      <source src="/goodGreenhouseVideo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- Image Section (only visible on small screens) -->
  <div class="video-placeholder mx-auto max-w-full sm:px-6 lg:hidden">
    <img src="/Permanent Marker.jpg" alt="Greenhouse" class="w-full h-auto rounded-lg" />
  </div>

  <!-- Text Content -->
  <div class="px-4 lg:px-6 flex items-center">
    <div>
      <h3 class="text-left font-semibold text-xl lg:text-2xl mt-4 lg:mt-6">
        Are you not harvesting as much as you expected?
      </h3>
      <div class="py-4"></div>
      <p class="text-base lg:text-lg">
        Are you finding that your harvests aren't meeting your expectations? Underperforming yields can be frustrating, but they often stem from issues with genetics, plant health, or cultivation practices. Starting with high-quality, breeder-verified genetics from Calamus Nursery ensures that your plants are equipped to thrive, offering the potential for larger, more consistent harvests. If your plants aren’t performing as you’d hoped, it may be time to reassess your strain choices, environmental factors, and overall growing techniques. Our team is here to provide expert guidance and help you maximize your yields, turning your harvest into a successful, profitable venture.
      </p>
      <div class="py-10"></div>
    </div>
  </div>
</div>
