<!-- Image visible only on mobile (hidden on larger screens) -->
<div class="block lg:hidden" style="margin-top: 75px; margin-bottom: -130px">
    <img src="/heroimages.jpg" alt="Mobile Image" class="w-full h-auto rounded-lg" />
</div>

<div class="three-benefits grid grid-cols-1 md:grid-cols-3 gap-6 mt-40 text-center">
    <div class="section p-6">
        <icon></icon>
        <div class="text-2xl font-semibold">
            <h3>Sell Authentic Strains</h3>
        </div>
        <a href="/blog">
            <p class="font-light text-base mt-4">
                At our nursery, we prioritize authenticity by cultivating only certified cannabis strains. Each strain we sell is meticulously documented, ensuring genetic purity and full traceability from seed to sale. Our nursery works with independent third-party laboratories to verify the authenticity of our strains, giving you confidence in the exact genetics you're purchasing.
            </p>
        </a>
    </div>
    <div class="section p-6">
        <icon></icon>
        <div class="text-2xl font-semibold">
            <h3>Offer the best selection</h3>
        </div>
        <p class="font-light text-base mt-4">
            We pride ourselves on offering a wide variety of premium cannabis strains, each carefully selected and cultivated for distinct effects and flavors. Our nursery constantly introduces new genetics alongside industry favorites, ensuring a diverse catalog that meets every need. Whether you’re looking for high-THC strains, CBD-rich options, or rare hybrids, our expansive selection is grown with precision and care.
        </p>
    </div>
    <div class="section p-6">
        <icon></icon>
        <div class="text-2xl font-semibold">
            <h3>Prevent disease</h3>
        </div>
        <p class="font-light text-base mt-4">
            Our nursery employs cutting-edge disease prevention techniques to ensure our plants remain healthy and uncontaminated. We use state-of-the-art processes, including tissue culture propagation, to maintain a sterile environment and eliminate the risk of common diseases such as Hop Latent Viroid (HLVD). Our operations are independently verified by third-party experts to guarantee a contamination-free growing process.
        </p>
    </div>
</div>
